mecab-ios-sample/Mecab.m linguist-vendored
mecab-ios-sample/Mecab.h linguist-vendored
mecab-ios-sample/Node.m linguist-vendored
mecab-ios-sample/Node.h linguist-vendored
mecab-ios/* linguist-vendored
